benchmark_data.csv
data-analysis/keys/keytemp.json
data-analysis/__pycache__/analysis.cpython-37.pyc
apps/android/source/app/src/main/res/drawable-v24/uuh.png
apps/android/source/app/src/main/java/com/example/titanscouting/tits.java

data-analysis/analysis.cp37-win_amd64.pyd
data-analysis/analysis/analysis.c
data-analysis/analysis/analysis.cp37-win_amd64.pyd
data-analysis/analysis/build/temp.win-amd64-3.7/Release/analysis.cp37-win_amd64.exp
data-analysis/analysis/build/temp.win-amd64-3.7/Release/analysis.cp37-win_amd64.lib
data-analysis/analysis/build/temp.win-amd64-3.7/Release/analysis.obj
data-analysis/test.ipynb
data-analysis/.ipynb_checkpoints/test-checkpoint.ipynb
.vscode/settings.json
.vscode
data-analysis/arthur_pull.ipynb
data-analysis/keys.txt
data-analysis/check_for_new_matches.ipynb
data-analysis/test.ipynb
data-analysis/visualize_pit.ipynb
data-analysis/config/keys.config
analysis-master/analysis/__pycache__/
analysis-master/analysis/metrics/__pycache__/
data-analysis/__pycache__/
analysis-master/analysis.egg-info/
analysis-master/build/
analysis-master/metrics/
data-analysis/config-pop.json
data-analysis/__pycache__/
analysis-master/__pycache__/
analysis-master/.pytest_cache/
data-analysis/.pytest_cache/
data-analysis/test.py
analysis-master/tra_analysis.egg-info
analysis-master/tra_analysis/__pycache__
analysis-master/tra_analysis/.ipynb_checkpoints
.pytest_cache
analysis-master/tra_analysis/metrics/__pycache__
analysis-master/dist
data-analysis/config/
analysis-master/tra_analysis/equation/__pycache__/Expression.cpython-38.pyc
analysis-master/tra_analysis/equation/__pycache__/__init__.cpython-38.pyc
analysis-master/tra_analysis/equation/__pycache__/parser.cpython-38.pyc
analysis-master/tra_analysis/equation/__pycache__/py2.cpython-38.pyc
