benchmark_data.csv
data-analysis/keys/keytemp.json
data-analysis/__pycache__/analysis.cpython-37.pyc
apps/android/source/app/src/main/res/drawable-v24/uuh.png
apps/android/source/app/src/main/java/com/example/titanscouting/tits.java

data-analysis/analysis.cp37-win_amd64.pyd
data-analysis/analysis/analysis.c
data-analysis/analysis/analysis.cp37-win_amd64.pyd
data-analysis/analysis/build/temp.win-amd64-3.7/Release/analysis.cp37-win_amd64.exp
data-analysis/analysis/build/temp.win-amd64-3.7/Release/analysis.cp37-win_amd64.lib
data-analysis/analysis/build/temp.win-amd64-3.7/Release/analysis.obj
data-analysis/test.ipynb
data-analysis/.ipynb_checkpoints/test-checkpoint.ipynb
.vscode/settings.json
.vscode
data-analysis/arthur_pull.ipynb
data-analysis/keys.txt
data-analysis/check_for_new_matches.ipynb
data-analysis/test.ipynb
data-analysis/visualize_pit.ipynb
data-analysis/config/keys.config
analysis-master/analysis/__pycache__/
data-analysis/__pycache__/
analysis-master/analysis.egg-info/
analysis-master/build/
analysis-master/metrics/
data-analysis/config-pop.json