body{
  background-color: DodgerBlue ;
  color: AliceBlue;
  font-family: 'Ubuntu', sans-serif;
}
h1{
  text-align: center;
}
div{
  border: 2px solid AliceBlue;
  margin: 5px;
}
#expBar{
  width: auto;
  padding: 5px 0;
}
.formNavi{
  background-color: inherit;
  width: auto;
  display: inline;
  border-radius: 5px;
}
input{
  color: AliceBlue;
  background-color: DodgerBlue;
  width: auto;
  border: none;
  font-family: inherit;
}
#add{
  padding: 0;
}
#svb{
  border: 2px solid AliceBlue;
  border-radius: 5px;
  margin: 5px
  position: relative;
  left: 50%;
}
#newQ{
  width: 140px;
  text-align: center;
  display: inline;
  margin-right: 20px;
}
#RemPage{
  width: 140px;
  text-align: center;
  display: inline;
  margin-left: 20px;
}
#OptionBar{
  width: auto;
  text-align: center;
  border: none;
}
